---
import { postsContent } from '../api/posts'
import BlogCard from '../components/BlogCard.astro'
import { SITE_DESCRIPTION } from '../config'
import BaseLayout from '../layouts/BaseLayout.astro'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<BaseLayout title={SITE_DESCRIPTION} carouselContent={postsContent}>
  <h1>🧑‍🚀 Hello, Astronaut!</h1>
  <p>
    Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
    template. This template serves as a lightweight, minimally-styled starting point
    for anyone looking to build a personal website, blog, or portfolio with Astro.
  </p>
  <p>
    This template comes with a few integrations already configured in your
    <code>astro.config.mjs</code> file. You can customize your setup with
    <a href="https://astro.build/integrations">Astro Integrations</a> to add tools
    like Tailwind, React, or Vue to your project.
  </p>
  <p>Here are a few ideas on how to get started with the template:</p>
  <section class="my-6">
    <h2 class="text-2xl font-bold">NEWS</h2>
    <ul>
      {
        posts.map((post) => (
          <li class="first:border-t">
            <a href={post.url} class="w-full">
              <BlogCard>
                <div class="flex">
                  <time datetime={post.frontmatter.pubDate} class="w-44">
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      'en-us',
                      {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric'
                      }
                    )}
                  </time>

                  {post.frontmatter.title}
                </div>
              </BlogCard>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <p>
    Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
      >read the docs</a
    > or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
  </p>
  <p>
    Looking for a blog template with a bit more personality? Check out <a
      href="https://github.com/Charca/astro-blog-template"
      >astro-blog-template</a
    > by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
  </p>
</BaseLayout>
