---
import type { BlogProps } from '../utils/types'
import BlogCard from './BlogCard.astro'
import Title from './Title.astro'

export type Props = {
  limit?: number
  posts: BlogProps[]
}

const liStyle = 'border-back-dark first:border-t dark:border-white'

const { limit, posts } = Astro.props as Props
---

<div>
  <Title>NEWS</Title>
  <ul class="mt-6">
    {
      posts.map((post, index) => {
        if (limit && index >= limit) return
        return (
          <li class={liStyle}>
            <a href={post.url} class="w-full">
              <BlogCard index={index}>
                <div class="flex flex-col justify-between md:flex-row md:justify-start">
                  <time
                    datetime={post.frontmatter.pubDate}
                    class="font-light text-main-dark dark:text-main-light md:w-44">
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                      year: 'numeric',
                      month: 'short',
                      day: 'numeric'
                    })}
                  </time>
                  <p>{post.frontmatter.title}</p>
                </div>
              </BlogCard>
            </a>
          </li>
        )
      })
    }
    {
      limit && (
        <li class={liStyle}>
          <BlogCard>
            <a href="/news" class="flex w-full justify-center">
              See more
            </a>
          </BlogCard>
        </li>
      )
    }
  </ul>
</div>
