---
import type { BlogProps } from '../utils/types'
import BlogCard from './BlogCard.astro'

export type Props = {
  limit?: number
  posts: BlogProps[]
}

const liStyle = 'border-zinc-900 first:border-t dark:border-white'

const { limit, posts } = Astro.props as Props
---

<div class="my-6">
  <h2 class="px-6 text-2xl font-bold">NEWS</h2>
  <ul class="mt-6">
    {
      posts.map((post, index) => {
        if (limit && index >= limit) return
        return (
          <li class={liStyle}>
            <a href={post.url} class="w-full">
              <BlogCard index={index}>
                <div class="flex">
                  <time datetime={post.frontmatter.pubDate} class="w-44">
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                      year: 'numeric',
                      month: 'short',
                      day: 'numeric'
                    })}
                  </time>
                  {post.frontmatter.title}
                </div>
              </BlogCard>
            </a>
          </li>
        )
      })
    }
    {
      limit && (
        <li class={liStyle}>
          <BlogCard>
            <a href="/news" class="flex w-full justify-center">
              See more
            </a>
          </BlogCard>
        </li>
      )
    }
  </ul>
</div>
