---
import BaseHead from '../components/BaseHead.astro'
import Carousel from '../components/Carousel'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import HeaderLink from '../components/HeaderLink.astro'
import { links, SITE_DESCRIPTION, SITE_TITLE } from '../config'

export type Props = {
  title: string
  carouselContent?: any[]
  description?: string
}

const { title, carouselContent, description = SITE_DESCRIPTION } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | ${title}`} description={description} />
  </head>

  <body
    class="grid w-full place-items-center bg-gradient-to-tr from-main-lighter to-violet-50 dark:from-zinc-800 dark:to-zinc-700 lg:text-lg"
  >
    <main
      class="flex min-h-screen w-full flex-col justify-between bg-white text-back-dark dark:bg-back-dark dark:text-white"
    >
      <div class="">
        <Header client:only="solid" title={SITE_TITLE}>
          {links.map((link) => <HeaderLink href={link.url}>{link.label.toUpperCase()}</HeaderLink>)}
        </Header>
        {carouselContent && <Carousel posts={carouselContent} height="70vh" client:load />}
        <slot />
        <Footer />
      </div>
    </main>
  </body>
</html>
